.body_background {
	background-image: url("bg1.jpg");
	background-size: cover;
	background-position:center ;
}

#canvasa{
   border-style: ridge;
   border-width: 10px;
   background-color: white;
}
